.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;
}

.save-button {
  margin-top: 1rem;
}

.App-header {
  background-color: #e1e2d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(88, 89, 96);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside.emoji-picker-react {
  position: absolute;
}
